<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container mt-5">
        <titulo></titulo>        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        Vue.component('titulo',{
            template: //html
            `
            <div>
                <h1>
                    Numero {{numero}}
                    <hijo></hijo>
                </h1>
            </div>
            `,
            computed: {
                ...Vuex.mapState([
                    'numero'
                ])
            }        
        })

        Vue.component('hijo',{
            template: //html
            `
            <div>
                <input placeholder="Valor a disminuir" v-model="valorDisminuir"/>
                <hr>
                <button @click="aumentarNumero">+ {{numero}}</button>
                <button @click="disminuirNumero(valorDisminuir)">- {{numero}}</button>
            </div>
            `,
            data() {
                return {
                    valorDisminuir: 0
                }
            },
            computed: {
                ...Vuex.mapState([
                    'numero'
                ])
            },
            methods: {
                ...Vuex.mapMutations([
                    'aumentarNumero',
                    'disminuirNumero'
                ])
            }
        })
        
        const store = new Vuex.Store({
            state: {
                numero: 10
            },
            mutations: {
                aumentarNumero(){
                    this.state.numero++;
                },
                disminuirNumero(state,n){
                    this.state.numero-=n;
                }
            }
        })

        new Vue({
            el: '#app',
            store: store
        })
    </script>
</html>