<template>
  <div>
    <b-row align-h="between" align-v="center" id="encabezado">
      <h3>Historial de Toners</h3>
    </b-row>
    <b-table id="tabla" striped hover small :fields="fields" :items="operaciones">
        <template slot="opciones" slot-scope="data">
            
        </template>
    </b-table>
  </div>
</template>

<script>
  import Vuex from 'vuex';

  export default {
    name: 'Tabla',
    props: {

    },
    data() {
      return {
        fields: [
          'id',
          'nombre', 
          'cant_deposito',
          'cant_oficina',
          'opciones'
        ],
      }
    }
  }
</script>
