<template>
  <div id="pagina">
    <Tabla/>
  </div>
</template>

<script>
// @ is an alias to /src
import Tabla from '@/components/Tabla.vue'

export default {
  name: 'home',
  components: {
    Tabla
  }
}
</script>

<style>
  #pagina {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
</style>

