<template>
  <div>
    <CajaLogin/>
  </div>
</template>

<script>
// @ is an alias to /src
import CajaLogin from '@/components/CajaLogin.vue'

export default {
  name: 'login',
  components: {
    CajaLogin
  }
}
</script>