<template>
  <div>
    <CajaRegistro/>
  </div>
</template>

<script>
// @ is an alias to /src
import CajaRegistro from '@/components/CajaRegistro.vue'

export default {
  name: 'registrar',
  components: {
    CajaRegistro
  }
}
</script>