<template>
    <div>
        <ul class="list-group">
            <li v-for="(fruta, index) of ordenarFrutas" :key="fruta.id" class="list-group-item d-flex justify-content-between align-items-center">
                {{fruta.nombre}}
                <div>
                    <button class="btn btn-success" @click="sumarFruta(index)">+</button>
                    <button class="btn btn-danger mx-3"  @click="restarFruta(index)">-</button>
                    <span class="badge badge-primary badge-pill">{{fruta.cantidad}}</span>
                </div>                
                </li>
        </ul>
        <button class="btn btn-primary btn-block" @click="reiniciarFrutas">Reiniciar</button>
    </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'

export default {
    name: 'Lista',
    computed: {
        ...mapState([
            'frutas'
        ]),
        ordenarFrutas(){
            return this.frutas.sort( (a,b) => b.cantidad-a.cantidad );
        }
    },
    methods: {
        ...mapMutations([
            'sumarFruta',
            'restarFruta',
            'reiniciarFrutas'
        ])        
    }
}
</script>

<style scoped>

</style>


