<template>
  <div>
    <h1>Registro</h1>
    <b-form @submit.prevent="registrarUsuario">
        <b-form-input
          id="nombreToner"
          type="text"
          v-model="data.nombre"
          required
          placeholder="Ingrese un nombre:" />
          <b-form-input
          id="nombreToner"
          type="text"
          v-model="data.apellido"
          required
          placeholder="Ingrese un apellido:" />
          <b-form-input
          id="nombreToner"
          type="text"
          v-model="data.usuario"
          required
          placeholder="Ingrese un usuario:" />
          <b-form-input
          id="nombreToner"
          type="password"
          v-model="data.password"
          required
          placeholder="Ingrese una contraseña:" />
          <b-form-input
          id="nombreToner"
          type="email"
          v-model="data.email"
          required
          placeholder="Ingrese un email:" />
        <b-button type="submit" variant="success">Agregar</b-button>
      </b-form>
  </div>
</template>


<script>
  import Vuex from 'vuex';
  import axios from 'axios';

  export default {
      name: 'CajaRegistro',
      props: {
      },
      data() {
        return {
          data: {
            id: '',
            email: '',
            usuario: '',
            password: '',
            nombre: '',
            apellido: '',
          }
        }
      },
      methods: {
        registrarUsuario(){
          axios.post('//localhost:3000/registrar', {
            data: this.data,
          })
          .then(function(response){
            console.log('entra');
          })
          .catch(function(error){
            console.log();
            console.log('error: '+error);
          });
        }
      }
  }
</script>
