<template>
  <div>
    <h1>Login</h1>
    <b-alert v-model="mostrarErrorLogin" ref="errorLogin" variant="danger" dismissible><font-awesome-icon icon="exclamation-circle"/> </b-alert>
    <b-form @submit.prevent="loginUsuario">
        <b-form-input
          id="nombreToner"
          type="email"
          v-model="data.email"
          required
          placeholder="Ingrese un email:" />
        <b-form-input
          id="nombreToner"
          type="password"
          v-model="data.password"
          required
          placeholder="Ingrese una contraseña:" /> 
        <b-button type="submit" variant="success">Iniciar Sesión</b-button>
      </b-form>
  </div>
</template>


<script>
  import Vuex from 'vuex';
  import axios from 'axios';

  export default {
      name: 'CajaLogin',
      props: {
      },
      data() {
        return {
          data: {
            email: '',
            password: '',
          },
          mostrarErrorLogin: false,
        }
      },
      methods: {
        ...Vuex.mapActions([
          'iniciarSesionUsuario',
        ]),
        loginUsuario(){
          axios.post('//localhost:3000/login', {
            data: this.data,
          })
          .then(response => {
            localStorage.setItem('user',JSON.stringify(response.data.user));
            localStorage.setItem('jwt',response.data.token);
            this.iniciarSesionUsuario(response.data.user);

            if (localStorage.getItem('jwt') != null){
              if(this.$route.params.nextUrl != null){
                this.$router.push(this.$route.params.nextUrl); //No esta funcionando no se por qué
              }else{
                this.$router.push('/');
              }
            }
          })
          .catch(error => {
            this.mostrarErrorConTexto(error.response.data);
            console.log('error: '+error.response.data);
          });
        },
        mostrarErrorConTexto(texto){
          console.log(this.$refs.errorLogin);
          this.mostrarErrorLogin=true;
          this.$refs.errorLogin.innerHTML=texto;
        }
      }
  }
</script>
