<template>
  <div>
    <b-alert v-model="mostrarAlertaAgregar" variant="success" dismissible><font-awesome-icon icon="check"/> Toners agregados exitosamente!</b-alert>
    <b-alert v-model="mostrarAlertaRetirar" variant="danger" dismissible><font-awesome-icon icon="check"/> Toners retirados exitosamente!</b-alert>
    <b-alert v-model="mostrarAlertaMover" variant="warning" dismissible><font-awesome-icon icon="check"/> Toners movidos exitosamente!</b-alert>
    <b-alert v-model="mostrarAlertaEliminar" variant="danger" dismissible><font-awesome-icon icon="check"/> Toners eliminado exitosamente!</b-alert>
    <b-row align-h="between" align-v="center" id="encabezado">
      <h3>Tabla de Toners</h3>
      <div>
        <router-link to="/historial"><b-button size="sm" variant="dark" style="margin-right:5px;"><font-awesome-icon icon="table"/> Historial</b-button></router-link>
        <b-button size="sm" variant="" class="botonesNav" v-b-modal.modalNuevo><font-awesome-icon icon="plus"/> Agregar Toner</b-button>
      </div>
    </b-row>
    <b-table id="tabla" striped hover small :fields="fields" :items="toners">
        <template slot="opciones" slot-scope="data">
            <b-button size="sm" style="border:1px solid black" variant="light" class="mr-3" v-b-modal.modalAgregar @click="params.idActual=data.item.id;"><font-awesome-icon icon="plus"/> Agregar</b-button>
            <b-button size="sm" style="border:1px solid black" variant="light" class="mr-3" :disabled="data.item.cant_deposito==0" v-b-modal.modalRetirar @click="params.idActual=data.item.id;cantidadActualDeposito=data.item.cant_deposito"><font-awesome-icon icon="minus"/> Retirar</b-button>
            <b-button size="sm" style="border:1px solid black" variant="light" class="mr-3" :disabled="data.item.cant_deposito==0" v-b-modal.modalMover @click="params.idActual=data.item.id;cantidadActualDeposito=data.item.cant_deposito"><font-awesome-icon icon="exchange-alt"/> Mover</b-button>
            <b-button size="sm" class="botonesRojo" variant="" @click="eliminarTonerMethod(data.item.id)"><font-awesome-icon icon="exclamation-circle"/> Eliminar Toner</b-button>
        </template>
    </b-table>

    <b-modal id="modalAgregar" ref="modalAgregar" title="Ingreso de Toners">
      <b-form @submit.stop.prevent="agregarTonersModal">
        <strong><b-form-group
          id="exampleInputGroup1"
          label="Cantidad a ingresar:"
          label-for="exampleInput1"
        ></b-form-group></strong>
        <b-row>
          <b-col>
            <b-form-input
              id="cantidadAgregar"
              type="number"
              v-model.number="params.cantidad"
              required
              placeholder="Ingrese la cantidad" />
          </b-col>
          <b-col>
            <b-button type="submit" variant="success">Agregar</b-button>
          </b-col>
        </b-row>
      </b-form>
      <div slot="modal-footer" class="">
      </div>
    </b-modal>

    <b-modal id="modalRetirar" ref="modalRetirar" title="Retiro de Toners">
      <b-alert v-model="errorCantidad" variant="danger" dismissible><font-awesome-icon icon="exclamation-circle"/> No puede retirar más toners de los que hay disponibles.</b-alert>
      <b-form @submit.stop.prevent="retirarTonersModal">
        <strong><b-form-group
          id="exampleInputGroup1"
          label="Cantidad a retirar:"
          label-for="exampleInput1"
        ></b-form-group></strong>
        <b-row>
          <b-col>
            <b-form-input
            id="cantidadRetirar"
            ref="cantidadRetirar"
            type="number"
            v-model.number="params.cantidad"
            required
            placeholder="Ingrese la cantidad" />
          </b-col>
          <b-col>
            <b-button type="submit" variant="danger">Retirar</b-button>
          </b-col>
        </b-row>
      </b-form>
      <div slot="modal-footer" class="">
      </div>
    </b-modal>

    <b-modal id="modalMover" ref="modalMover" title="Mover Toners">
      <b-alert v-model="errorCantidad" variant="danger" dismissible><font-awesome-icon icon="exclamation-circle"/> No puede mover más toners de los que hay disponibles en depósito.</b-alert>
      <b-form @submit.stop.prevent="moverTonersModal">
        <strong><b-form-group
          id="exampleInputGroup1"
          label="Cantidad a mover:"
          label-for="exampleInput1"
        ></b-form-group></strong>
        <b-row>
          <b-col>
            <b-form-input
            id="cantidadMover"
            ref="cantidadMover"
            type="number"
            v-model.number="params.cantidad"
            required
            placeholder="Ingrese la cantidad" />
          </b-col>
          <b-col>
            <b-button type="submit" variant="warning">Mover</b-button>
          </b-col>
        </b-row>
      </b-form>
      <div slot="modal-footer" class="">
      </div>
    </b-modal>

    <b-modal id="modalNuevo" ref="modalNuevo" title="Nuevo Toner">
      <b-form @submit.stop.prevent="nuevoTonerModal">
        <strong><b-form-group
          id="exampleInputGroup1"
          label="Ingrese el nombre del nuevo toner: "
          label-for="exampleInput1"
        ></b-form-group></strong>
        <b-row>
          <b-col>
            <b-form-input
              id="nombreToner"
              type="text"
              v-model="nombreNuevoToner"
              required
              placeholder="Ingrese un nombre:" />
          </b-col>
          <b-col>
            <b-button type="submit" variant="success">Agregar</b-button>
          </b-col>
        </b-row>
      </b-form>
      <div slot="modal-footer" class="">
      </div>
    </b-modal>
  </div>
</template>

<script>
  import Vuex from 'vuex'

  export default {
    name: 'Tabla',
    props: {
    },
    data() {
      return {
        fields: [
          {
            key: 'id',
            label: '#',
            sortable: true,
          },
          {
            key: 'nombre',
            label: 'Nombre',
            sortable: true,
          },
          {
            key: 'cant_deposito',
            label: 'Cantidad en Depósito',
            sortable: true,
            tdClass: function(cantidad){
              if(cantidad>10){return '  table-success'}
              else if(cantidad>5 && cantidad<=10){return 'table-warning'}
              else{return 'table-danger'};
            },
            tdStyle: function(){
              return 'border:1px solid black';
            }
          },
          {
            key: 'cant_oficina',
            label: 'Cantidad en Oficina',
            sortable: true,
            tdClass: function(cantidad){
              if(cantidad>10){return 'table-success'}
              else if(cantidad>5 && cantidad<=10){return 'table-warning'}
              else{return 'table-danger'};
            },
          },
          {
            key: 'opciones',
            label: 'Opciones'
          }
        ],
        params: {
          cantidad: '',
          idActual: 0,
        },
        cantidadActualDeposito: '',
        mostrarAlertaAgregar: false,
        mostrarAlertaRetirar: false,
        mostrarAlertaMover: false,
        mostrarAlertaEliminar: false,
        nombreNuevoToner: '',
        errorCantidad: false,
      }
    },
    created() {
      this.getToners();
    },
    computed: {
      ...Vuex.mapState([
        'toners',
      ]),
    },
    methods: {
      ...Vuex.mapActions([
        'getToners',
        'agregarToners',
        'retirarToners',
        'nuevoToner',
        'eliminarToner',
        'moverToners',
      ]),
      colorDisponibles(item, type) {
        var cantidad=item.cant_deposito;
        if(cantidad>10){return 'table-success'}
        else if(cantidad>5 && cantidad<=10){return 'table-warning'}
        else{return 'table-danger'};
      },
      agregarTonersModal() {
        //Hago este método para, además de agregar los toners, cerrar el modal.
        this.agregarToners(this.params);
        this.$refs.modalAgregar.hide(); 
        this.mostrarAlertaAgregar=true;
        this.params.cantidad='';
      },
      retirarTonersModal() {
        if(this.params.cantidad<=this.cantidadActualDeposito){
          //Hago este método para, además de agregar los toners, cerrar el modal.
          this.retirarToners(this.params);
          this.$refs.modalRetirar.hide(); 
          this.mostrarAlertaRetirar=true;
          this.params.cantidad='';
          this.errorCantidad=false
        }else{
          this.params.cantidad='';
          this.errorCantidad=true;
          this.$refs.cantidadRetirar.focus();
        }
      },
      moverTonersModal() {
        if(this.params.cantidad<=this.cantidadActualDeposito){
          //Hago este método para, además de agregar los toners, cerrar el modal.
          this.moverToners(this.params);
          this.$refs.modalMover.hide(); 
          this.mostrarAlertaMover=true;
          this.params.cantidad='';
          this.errorCantidad=false
        }else{
          this.params.cantidad='';
          this.errorCantidad=true;
          this.$refs.cantidadMover.focus();
        }
      },
      nuevoTonerModal() {
        this.nuevoToner(this.nombreNuevoToner);
        this.$refs.modalNuevo.hide();
        //Mostrar alerta
      },
      eliminarTonerMethod(idActual){
        this.eliminarToner(idActual);
        this.mostrarAlertaEliminar=true;
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #tabla {
    text-align:center;
  }

  #encabezado {
    margin: 0px 0px 5px 0px;
  }

  .botonesRojo {
    background-color: rgb(245,198,203)!important;
    color: black!important;
  }
  .botonesRojo:hover {
    background-color: white!important;
  }
</style>
