<template>
  <div id="app">
    <b-navbar v-if="usuario!=null" id="nav" toggleable="lg" variant="light">
      <b-navbar-brand class=""><strong>T O N E R S</strong></b-navbar-brand>
      <div>
        <router-link to="/"><b-button variant="" class="mr-3 botonesNav">Listado</b-button></router-link>
        <router-link to="/historial"><b-button variant="" class="botonesNav">Historial</b-button></router-link>
      </div>
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <!-- Using button-content slot -->
          <template slot="button-content"><font-awesome-icon icon="user"/> {{usuario.apellido}}, {{usuario.nombre}}</template>
          <b-dropdown-item href="/configuracion"><font-awesome-icon icon="cog"/> Configuración</b-dropdown-item>
          <b-dropdown-item @click="cerrarSesionUsuario"><font-awesome-icon icon="sign-out-alt"/> Cerrar Sesión</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>
  import Vuex from 'vuex';

  export default {
    computed: {
      ...Vuex.mapState([
        'usuario'
      ]),
    },
    methods: {
      ...Vuex.mapActions([
        'cerrarSesionUsuario'
      ]),
    }
  }
</script>


<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.botonesNav {
  background-color: rgb(195,230,203) !important;
  color: black !important;
}
.botonesNav:hover {
  background-color: white !important;
}

</style>
