<template>
    <div>
        <h1>Galeria</h1>
        <Fotografia/>
        <router-link :key="index" v-for="(foto,index) of fotos" :to="{name: 'fotos',params: {id: foto}}">
            <button>
                Foto {{foto}}
            </button>
        </router-link>
        <hr>
        <button @click="inicio">Inicio</button>
        <button @click="anterior">Anterior</button>
        <button @click="siguiente">Siguiente</button>
    </div>
</template>

<script>
    import Fotografia from '@/components/Fotografia.vue'

    export default {
        data() {
            return {
                fotos: [1,2,3]
            }
        },
        components: {
            Fotografia
        },
        methods: {
            inicio () {
                this.$router.push('/');
            },
            anterior () {
                this.$router.go(-1);
            },
            siguiente () {
                this.$router.go(1);
            }
        }
    }
</script>