<template>
    <div>
        <b-form>
            <b-form-group>
                <b-form-input
                id="emailInput"
                type="email"
                v-model="email"
                required
                placeholder="Ingrese su e-mail" />

                <b-form-input
                id="passwordInput"
                type="password"
                v-model="password"
                required
                placeholder="Ingrese su contraseña" />
            </b-form-group>
            <b-button variant="light">Entrar</b-button>
        </b-form>        
    </div>
</template>

<script>

    export default {
        name: 'CajaLogin',
        data() {
            return {
                email: '',
                password: '',
            }
        }
    }

</script>
