<template>
  <GmapMap
    :center="{lat:-34.9206797, lng:-57.9537638}"
    :zoom="12"
    map-type-id="terrain"
    style="width: 100%; height: 100%; position: fixed"
  >
  </GmapMap>
</template>

<script>
export default {
  name: 'Mapa',
}