<template>
    <div>
        <b-table striped hover small :fields="fields" :items="reclamos" :busy="isBusy">
            <template slot="opciones" slot-scope="data">
                <b-button variant="primary" @click="cambiarEstado(data.item.id)"><font-awesome-icon icon="cog"/> Ver</b-button>
            </template>
        </b-table>
    </div>
</template>

<script>
    import Vuex from 'vuex'

    export default {
        name: 'Reclamos',
        data() {
            return {
                fields: [
                    'id',
                    'nombre',
                    'ubicacion',
                    'descripcion',
                    'precio_base',
                    'opciones'
                ],
                isBusy: false,
            }
        },
        created () {
            this.getReclamos();
        },
        computed: {
            ...Vuex.mapState([
                'reclamos',
                'mapa',
            ])
        },
        methods: {
            ...Vuex.mapActions([
                'getReclamos'
            ]),
            cambiarEstado(id){
                console.log('cambiando estado de '+id);
            }
        }
    }
</script>
