<template>
  <div>
    <Mapa/>
  </div>
</template>

<script>
// @ is an alias to /src
import Mapa from '@/components/Mapa.vue'

export default {
  name: 'home',
  components: {
    Mapa
  }
}
</script>
