<template>
    <div class="container my-5">
        <CajaLogin/>
    </div>
</template>

<script>

    import CajaLogin from '@/components/CajaLogin.vue'

    export default {
        name: 'login',
        components: { 
            CajaLogin
        }
    }

</script>

