<template>
  <div class="about my-5 mx-5">
    <h1>Reclamos</h1>
    <Reclamos/>
  </div>
</template>

<script>
  import Reclamos from '@/components/Reclamos.vue'

  export default {
    name: 'tabla',
    components: {
      Reclamos  
    }
  }
</script>