<template>
    <div id="app">
        <b-navbar toggleable="md" type="dark" variant="dark">
            <router-link :to="{ name: 'home' }"><b-navbar-brand>RECLAMOS</b-navbar-brand></router-link>

            <b-navbar-toggle target="nav_collapse" />

            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                    <div v-if="this.$route.path === '/'">
                    <router-link :to="{ name: 'tabla' }"><b-button variant="light"><font-awesome-icon icon="table"/> Ver Tabla</b-button></router-link>
                    </div>
                    <div v-else>
                    <router-link :to="{ name: 'home' }"><b-button variant="light"><font-awesome-icon icon="globe"/> Ver Mapa</b-button></router-link>
                    </div>
                </b-navbar-nav>

                <b-navbar-nav class="ml-auto">
                  <b-nav-item-dropdown right>
                    <!-- Using button-content slot -->
                    <template slot="button-content"><font-awesome-icon icon="user"/> julianalmandos</template>
                    <b-dropdown-item href="#"><font-awesome-icon icon="cog"/> Configuración</b-dropdown-item>
                    <b-dropdown-item href="#"><font-awesome-icon icon="sign-out-alt"/> Cerrar Sesión</b-dropdown-item>
                  </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <router-view/>
    </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
