<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="nuevaFruta"/>
        <button @click="agregarFruta">Agregar!</button>
        <ul>
            <li v-for="fruta of frutas">
                <input type="number" v-model="fruta.cantidad" />
                {{fruta.nombre}}
                <button @click="fruta.cantidad++">+</button>
            </li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="01.js"></script>
</body>
</html>